h1 {
  padding: 6vh 2vh 8vh;
  font-size: 8em;
  font-weight: 800;
  background-color: white;
  color: #d6a9ca;
  margin: 0px auto;
}

h2 {
  padding: 4vh;
  font-size: 6vw;
  font-weight: 600;
  background-color: #ddfdfe;
  color: #8f3996;
  margin: 0px auto;
}

h3 {
  background-color: #e6feff;
  padding: 2vh 1vw;
  font-size: 1.5em;
  margin: 0px auto;
  text-align: center;
}

p {
  font-size: 1em;
  max-width: 500px;
  margin: 2em auto;
}

p ul li {
  margin-bottom: 1em;
}

form p {
  background-color: #feffc4;
}

div.flow-menu {
  padding: 6vh 3vw 5vh;
}

div.flow-menu button {
  font-size: 1.2em;
  margin: 0.75em;
}

form {
  padding-top: 2em;
  padding-bottom: 4em;
  font-size: 1.1em;
  background-color: #feffc4;
}

form > div {
  padding: 3em !important;
  background-color: white;
}

table {
  border: none;
  max-width: 600px;
  margin: auto;
}

.header-strip {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 6px;
  border-bottom: ridge 3px #b7b7b7;
}

.header-strip img {
  object-fit: cover;
}

@media only screen and (min-width: 468px) {
  .header-strip img {
    height: 48px;
  }
}

@media only screen and (max-width: 468px) {
  .header-strip img {
    width: calc(100% - 35px)
  }
}

.action-menu {
  max-height: 500px;
  overflow-y: hidden;
  transition: all 0.4s linear;
  padding: 0 0.75em;
  background-color: #f6faf2;
}

.action-menu.minimized {
  max-height: 0px;
}

.action-menu button {
  font-size: 1.1em;
  margin: 0.6em;
}
