body {
  background-color: #cccccc !important;
  font-size: 2.2vw;
}

@media screen and (min-width: 1200px) {
  font-size: 14px;
}

div.main {
  margin: 0 auto;
  max-width: 1024px;
  background-color: white;
  padding-bottom: 20px;
}

h1 {
  padding: 1vh;
  font-size: 3em;
  font-weight: 600;
  color: #d6a9ca;
  text-align: center;
  margin: 0;
}

section h2 {
  font-size: 2em;
  font-weight: 600;
  color: #86caa9;
  text-align: center;
}

section h3 {
  background-color: #edfafe;
  font-size: 1.5em;
  margin: 0 auto;
  padding: 0.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section, p {
  max-width: 700px;
  margin: 2em auto;
}

ul li {
  margin-bottom: 1em;
}

div.flow-menu button {
  font-size: 1.2em;
  margin: 0.75em;
}

table {
  border: none;
  max-width: 600px;
  margin: auto;
}

.header-strip {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 8px;
  border-bottom: ridge 3px #b7b7b7;
}

.header-strip img {
  object-fit: cover;
}

@media only screen and (min-width: 468px) {
  .header-strip img {
    height: 48px;
  }
}

@media only screen and (max-width: 468px) {
  .header-strip img {
    width: calc(100% - 35px)
  }
}

.action-menu {
  text-align: center;
  max-height: 500px;
  overflow-y: hidden;
  transition: all 0.4s linear;
  padding: 0 0.75em;
  background-color: #fcfdff;
  border-bottom-width: 3px;
  border-bottom-style: ridge;
  border-bottom-color: #b7b7b7;
}

.action-menu.minimized {
  max-height: 0px;
  border-bottom-width: 0px;
  border-bottom-color: rgba(0,0,0,0);
}

.action-menu button {
  font-size: 1.1em;
  margin: 0.6em;
}

.spinner-container {
  text-align: center;
  margin: 20px auto;
  width: 150px;
}

.placeInput {
  margin-bottom: 2px;
}
.placeInput input {
  width: 100%;
  font-size: 1.1em;
}

a[href] {
  color: #587f99;
  text-decoration: underline;
}

a[href]:hover {
  color: #77aacc;
  text-decoration: none;
}

span.logo {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.error {
  color: red;
}
